.container {
    padding: 1%;
    height: 80vh;
}

.canvases-container {
    display: flex;
    height: 100%;
}

.canvases-container div {
    width: 50%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

.canvases-container div canvas {
    width: 100%;
    height: 100%;
    background-color: black;
}

.canvases-container div input {
    margin-top: 30px;
}
